.radio_tab {
  color: #666;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  height: 32px;
  line-height: 32px;
  border: 1px solid #E6E7E9;
  width: 100%;
  display: block;
  font-weight: bold;
}
.radio {
  display: none !important;
}
.radio_tab:hover {
  opacity: 0.6;
}
.radio:checked ~ .radio_tab {
  border-bottom-color: #49A3D8;
  border-bottom-width: 4px;
}