.header {
  display: flex;
  align-items: center;
  background: #01B6AD;
  box-shadow: 0px 3px 4px #0000001a;
  padding: 10px 16px;
}
.global_menu {
  position: fixed;
  top: 54px;
}
.icon {
  width: 30px !important;
  height: 30px !important;
}
.account_icon {
  margin-right: 4px;
}
.meun_icon {
  margin-right: auto;
  cursor: pointer;
}
.text {
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
}
.ml {
  margin-left: 8px;
}
.mr_auto {
  margin-right: auto;
}
.relative {
  position: relative;
}

.lang {
  cursor: pointer;
  margin-left: 8px;
}
.lang:hover {
  color: #0D3F67;
}
.pulldown {
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  white-space: nowrap;
  text-align: center;
  box-shadow: #00000030 3px 3px 6px;
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.pulldown_list {
  padding: 6px 12px;
  color: #666;
}
.pulldown_list:first-child {
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width : 767px) {
  .admin_name {
    display: none;
  }
}