
.container {
  background: #fff;
  width: calc(300 / 320 * 100%);
  max-height: 90%;
  max-width: 720px;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 24px 16px;
  box-sizing: border-box
}
.scroll_area {
  overflow-y: scroll;
  max-height: 200px;
  border: 1px solid #E6E7E9;
}

/* bookmark / cart modal */
.max_width {
  max-width: 420px !important;
}
.img_area {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.stock_area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.text_height {
  line-height: 30px;
}
.bookmark_btn_width {
  width: 155px !important;
}

/* button override */
.close_btn {
  display: block;
  margin: 24px auto 0;
}

/* input override */
.w_100 {
  width: 100%;
}

/* 配置 */
.ma {
  margin: 0 4px;
}
.mb_8 {
  margin-bottom: 8px;
}
.mr_8 {
  margin-right: 8px;
}
.mb_16 {
  margin-bottom: 16px;
}
.mb_24 {
  margin-bottom: 24px;
}
.mb_32 {
  margin-bottom: 32px;
}
.flex_row {
  display : flex;
}
.flex_column {
  display : flex;
  flex-flow: column;
}
.flex_wrap {
  display : flex;
  flex-flow: wrap;
}
.text_center {
  text-align: center;
}
.justify_center {
  justify-content: center;
}
.align_center {
  align-items: center;
}