.menu {
  width: 180px;
  background: #01b6ad8f;
  text-align: left;
  padding: 16px;
  box-sizing: border-box;
  /* height: 100%; */
  height: calc(100% - 94px); /* PC */
}
.menu_link {
  color: #fff;
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
}
.nav_bar {
  height: 100%;
  width: 180px;
  background: #01b6ad8f;
}

@media screen and (max-width : 767px) {
  .menu {
    width: 100vw;
    overflow-y: scroll;
  }
  .nav_bar {
    width: 100vw;
  }
  /* body {
    overflow: hidden;
  } */
}