.header {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 4px;
  box-sizing: border-box;
  height: 40px;
}
.app_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bold {
  font-weight: bold;
}
.mr_auto {
  margin-right: auto;
}
.mr_10 {
  margin-right: 10px;
}
.relative {
  position: relative;
}

.lang {
  cursor: pointer;
  margin-right: 10px;
}
.lang:hover {
  color: #25bfc652;
}
.pulldown {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  white-space: nowrap;
  text-align: center;
  box-shadow: #00000030 3px 3px 6px;
  font-size: 14px;
  color: #666;
  padding: 4px 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.pulldown_list {
  padding: 6px 12px;
}
.pulldown_list:first-child {
  border-bottom: 1px solid #ddd;
}

.close_btn {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 266px;
  top: 10px;
  padding: 4px;
}
