.select {
  position: relative;
  appearance: none;
  height: 29px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #666;
  background: none;
  padding: 2px 29px 2px 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 29px;
}
.container {
    position: relative;
    width: auto;
    display: inline-block;
}
.container:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 12px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  pointer-events: none;
  transform: translateY(-50%) rotate( -135deg);
}

.select:hover,.select:focus-visible, .select:focus, .select:active  {
  outline:0 
}
.select:hover {
  border-bottom: 1px solid #25bfc652;
}
.container:hover::after {
  border-top: 2px solid #25bfc652;
  border-left: 2px solid #25bfc652;
}
.select:focus, .select:active {
  border-bottom: 1px solid #257dc6f2;
}
.container:focus::after, .container:active::after {
  border-top: 2px solid #257dc6f2;
  border-left: 2px solid #257dc6f2;
}

