/* complete / loading popup */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nowrap {
  white-space: nowrap;
}
.img {
  margin: 0 auto 16px;
  display: block;
}
/* notify popup 用*/
.notify_container {
  background: #fff;
  width: calc(280 / 320 * 100%);
  max-height: 360px;
  max-width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
}
.notify_title {
  color: #000;
  margin-bottom: 16px;
  text-align: center;
}
.alert_img {
  margin: 0 auto 16px;
  display: block;
}
.notify_body {
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.5;
}
.btn_area {
  display: flex;
  justify-content: space-around;
}
.close_alert_btn {
  display: block;
  margin: 0 auto;
}
/* toastfy */
.toast_container {
  position: fixed;
  top: 10%;
  left: 5%;
  padding: 8px 12px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.success {
  background: #25bfc6d1;
}
.error {
  background: #c62525d1;
}
.mr_8 {
  margin-right: 8px;
}
.mt_4 {
  margin-top: 4px;
}