.btn_link {
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 7px 0;
}
.primary {
  color: #fff;
  background: #49A3D8;
  border: 1px solid #49A3D8;
}
.secondary {
  color: #666;
  background: #fff;
  border: 1px solid #666;
}
.accent {
  color: #fff;
  background: #f44336;
  border: 1px solid #f44336;
}
.link {
  color: #49A3D8;
  background: #fff;
  border: 1px solid #49A3D8;
}
.s {
  font-size: 12px;
  width: 92px;
  height: 28px;
}
.m {
  font-size: 14px;
  width: 145px;
  height: 30px;
}
.l {
  font-size: 16px;
  width: 300px;
  height: 32px;
}
