/* admin pages layout */
.container {
  width : 90%;
  margin: 86px auto 72px;
}
.container_open_menu {
  width: calc(100% - 244px);
  margin: 86px 0 72px;
  transform: translateX(212px);
}
.max_content {
  max-width: 1024px;
}
.login_max_content {
  max-width: 520px;
}
.open_sidebar {
  width: calc(100% - 288px);
  margin-left: 24px;
}
.index_title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.index_title > h1 {
  padding: 16px 0;
}
.index_title > .btn_area {
  max-width: 306px;
  width: 100%;
}
.index_title > .btn_area > a {
  flex-basis: 50%;
  width: auto;
}
.index_title > .btn_area > button {
  flex-basis: 50%;
  width: auto;
}
.table_scroll_area {
  overflow: scroll;
  max-height: calc(100vh - 340px);
}
.form_area {
  background : #fff; 
  padding : 24px; 
  margin : 0 auto;
}

/* color / size / tag / brand master */
.master_form_area {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.master_text_area {
  width: 300px;
  margin: 0 8px;
}
.master_editable_text {
  color : #49A3D8;
  height : 28px;
  line-height : 28px;
  cursor: pointer;
}

/* category master */
.category_text {
  height : 28px;
  line-height : 28px;
  cursor: pointer;
  border: 1px solid;
  padding-left: 8px;
  border-radius: 4px;
}
.text_gender {
  color : #0d3f67;
  margin-bottom: 8px;
}
.text_main {
  color : #01B6AD;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 42px);
  margin-bottom: 8px;
}
.text_sub {
  color : #49A3D8;
  flex: 1;
}
.pulldown_img {
  display: inline-block;
  margin: 3px 8px 3px 0;
}
.tab {
  display: none;
}
.tab:checked ~ ul {
  display: block !important;
}
.tab:checked + label > img {
  transform: rotate(90deg);
}
.inline_flex {
  display: inline-flex;
}
.hidden {
  display: none;
}

/* contact  edit */
.contents_header {
  border-bottom: 2px solid #257dc6;
  display: inline-block;
}
.contents_body {
  padding: 8px;
  margin-bottom: 24px;
  box-sizing: border-box;
}

/* order  edit */
.amount {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-left: auto;
  text-align: right;
}
.amount_border {
  border-bottom: 1px solid #666;
}

/* other */
.pa_16 {
  padding: 16px;
}
.pl_32 {
  padding-left: 32px;
}
.pl_64 {
  padding-left: 64px;
}
.mt_8 {
  margin-top: 8px;
}
.mb_4 {
  margin-bottom: 4px;
}
.mb_8 {
  margin-bottom: 8px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_16 {
  margin-bottom: 16px;
}
.mb_24 {
  margin-bottom: 24px;
}
.mb_32 {
  margin-bottom: 32px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mr_4 {
  margin-right: 4px;
}
.mr_8 {
  margin-right: 8px;
}
.mr_12 {
  margin-right: 12px;
}
.mr_16 {
  margin-right: 16px;
}
.mr_24 {
  margin-right: 24px;
}
.mr_auto {
  margin-right: auto;
}
.ml_8 {
  margin-left: 8px;
}
.ml_12 {
  margin-left: 12px;
}
.ml_32 {
  margin-left: 32px;
}
.ml_auto {
  margin-left: auto;
}
.flex {
  display: flex;
}
.flex_1 {
  flex: 1;
  min-width: 0;
}
.flex_wrap {
  flex-flow: wrap;
}
.flex_grow {
  flex-grow: 1;
}
.flex_basis_50 {
  flex-basis: 50%;
}
.justify_evenly {
  justify-content: space-evenly;
}
.justify_center {
  justify-content: center;
}
.align_center {
  align-items: center;
}
.w_100 {
  min-width: auto;
  width: 100%;
}
.text_center {
  text-align:  center;
}
.text_underline {
  text-decoration: underline;
}
.scroll_x {
  overflow-x: scroll;
}

@media screen and (max-width : 767px) {
  .container_open_menu {
    transform: translateX(120vw);
  }
}

@media screen and (max-width : 440px) {
  /* order edit */
  .flex_sp {
    flex-flow: column;
  }
  .flex_sp > .mr_24 {
    margin-right: 0;
  }
  .flex_sp > .ml_32{
    margin-left: 0;
  }
  .flex_sp > .mb_8_sp {
    margin-bottom: 8px;
  }
  .flex_sp > .mb_16_sp{
    margin-bottom: 16px;
  }
}
